If:
  PathMatch: .*\.c
CompileFlags:
  Add:
    - "-D_FORTIFY_SOURCE=2"
    - "-D_GNU_SOURCE"
    - "-I."
    - "-I../../include"
    - "-I../include"
    - "-I/usr/include/jeff"
    - "-I/usr/local/include"
    - "-Iinclude"
    - "-Wall"
    - "-Wextra"
    - "-Wno-implicit-fallthrough"
    - "-Wno-unused"
    - "-pipe"
    - "-pthread"
    - "-std=gnu17"
    - "-xc"
  CompilationDatabase: .
  Compiler: gcc
Index:
  Background: Build
  StandardLibrary: true
Completion:
  AllScopes: true
InlayHints:
  BlockEnd: true
  Designators: true
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  TypeNameLimit: 24
Hover:
  ShowAKA: true
---
If:
  PathMatch: .*\.h
CompileFlags:
  Add:
    - "-D_FORTIFY_SOURCE=2"
    - "-D_GNU_SOURCE"
    - "-I."
    - "-I../../include"
    - "-I../include"
    - "-I/usr/include/jeff"
    - "-I/usr/local/include"
    - "-Iinclude"
    - "-Wall"
    - "-Wextra"
    - "-Wno-implicit-fallthrough"
    - "-Wno-unused"
    - "-pipe"
    - "-pthread"
    - "-std=gnu17"
    - "-xc-header"
  CompilationDatabase: .
  Compiler: gcc
Index:
  Background: Build
  StandardLibrary: true
Completion:
  AllScopes: true
InlayHints:
  BlockEnd: true
  Designators: true
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  TypeNameLimit: 24
Hover:
  ShowAKA: true
---
If:
  PathMatch: [.*\.cc, .*\.cpp, .*\.c\+\+, .*\.C, .*\.cxx]
CompileFlags:
  Add:
    - "-D_FORTIFY_SOURCE=2"
    - "-D_GLIBCXX_ASSERTIONS"
    - "-D_GNU_SOURCE"
    - "-I."
    - "-I../../include"
    - "-I../include"
    - "-I/usr/include/blkid"
    - "-I/usr/include/cairo"
    - "-I/usr/include/cairomm-1.16"
    - "-I/usr/include/freetype2"
    - "-I/usr/include/fribidi"
    - "-I/usr/include/gdk-pixbuf-2.0"
    - "-I/usr/include/gio-unix-2.0"
    - "-I/usr/include/giomm-2.68"
    - "-I/usr/include/glib-2.0"
    - "-I/usr/include/glibmm-2.68"
    - "-I/usr/include/glycin-2"
    - "-I/usr/include/graphene-1.0"
    - "-I/usr/include/gtk-4.0"
    - "-I/usr/include/gtk-4.0/unix-print"
    - "-I/usr/include/gtkmm-4.0"
    - "-I/usr/include/harfbuzz"
    - "-I/usr/include/jeff"
    - "-I/usr/include/libmount"
    - "-I/usr/include/libpng16"
    - "-I/usr/include/pango-1.0"
    - "-I/usr/include/pangomm-2.48"
    - "-I/usr/include/pixman-1"
    - "-I/usr/include/sigc++-3.0"
    - "-I/usr/include/sysprof-6"
    - "-I/usr/lib/cairomm-1.16/include"
    - "-I/usr/lib/giomm-2.68/include"
    - "-I/usr/lib/glib-2.0/include"
    - "-I/usr/lib/glibmm-2.68/include"
    - "-I/usr/lib/graphene-1.0/include"
    - "-I/usr/lib/gtkmm-4.0/include"
    - "-I/usr/lib/pangomm-2.48/include"
    - "-I/usr/lib/sigc++-3.0/include"
    - "-I/usr/local/include"
    - "-Iinclude"
    - "-Wall"
    - "-Wextra"
    - "-Wno-implicit-fallthrough"
    - "-Wno-unused"
    - "-pipe"
    - "-pthread"
    - "-std=gnu++17"
    - "-xc++"
  CompilationDatabase: .
  Compiler: g++
Index:
  Background: Build
  StandardLibrary: true
Completion:
  AllScopes: true
InlayHints:
  BlockEnd: true
  Designators: true
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  TypeNameLimit: 18
Hover:
  ShowAKA: true
---
If:
  PathMatch: [.*\.hh, .*\.hpp, .*\.h\+\+, .*\.H, .*\.hxx]
CompileFlags:
  Add:
    - "-D_FORTIFY_SOURCE=2"
    - "-D_GLIBCXX_ASSERTIONS"
    - "-D_GNU_SOURCE"
    - "-I."
    - "-I../../include"
    - "-I../include"
    - "-I/usr/include/blkid"
    - "-I/usr/include/cairo"
    - "-I/usr/include/cairomm-1.16"
    - "-I/usr/include/freetype2"
    - "-I/usr/include/fribidi"
    - "-I/usr/include/gdk-pixbuf-2.0"
    - "-I/usr/include/gio-unix-2.0"
    - "-I/usr/include/giomm-2.68"
    - "-I/usr/include/glib-2.0"
    - "-I/usr/include/glibmm-2.68"
    - "-I/usr/include/glycin-2"
    - "-I/usr/include/graphene-1.0"
    - "-I/usr/include/gtk-4.0"
    - "-I/usr/include/gtk-4.0/unix-print"
    - "-I/usr/include/gtkmm-4.0"
    - "-I/usr/include/harfbuzz"
    - "-I/usr/include/jeff"
    - "-I/usr/include/libmount"
    - "-I/usr/include/libpng16"
    - "-I/usr/include/pango-1.0"
    - "-I/usr/include/pangomm-2.48"
    - "-I/usr/include/pixman-1"
    - "-I/usr/include/sigc++-3.0"
    - "-I/usr/include/sysprof-6"
    - "-I/usr/lib/cairomm-1.16/include"
    - "-I/usr/lib/giomm-2.68/include"
    - "-I/usr/lib/glib-2.0/include"
    - "-I/usr/lib/glibmm-2.68/include"
    - "-I/usr/lib/graphene-1.0/include"
    - "-I/usr/lib/gtkmm-4.0/include"
    - "-I/usr/lib/pangomm-2.48/include"
    - "-I/usr/lib/sigc++-3.0/include"
    - "-I/usr/local/include"
    - "-Iinclude"
    - "-Wall"
    - "-Wextra"
    - "-Wno-implicit-fallthrough"
    - "-Wno-unused"
    - "-pipe"
    - "-pthread"
    - "-std=gnu++17"
    - "-xc++-header"
  CompilationDatabase: .
  Compiler: g++
Index:
  Background: Build
  StandardLibrary: true
Completion:
  AllScopes: true
InlayHints:
  BlockEnd: true
  Designators: true
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  TypeNameLimit: 18
Hover:
  ShowAKA: true
