If:
  PathMatch: .*\.c
CompileFlags:
  Add:
    [
      -D_FORTIFY_SOURCE=2,
      -D_GNU_SOURCE,
      -I.,
      -I../../include,
      -I../include,
      -I/usr/include/jeff,
      -I/usr/local/include,
      -Iinclude,
      -Wall,
      -Wextra,
      -Wno-implicit-fallthrough,
      -Wno-unused,
      -faddress=sanitize,
      -pipe,
      -pthread,
      -std=gnu17,
      -xc,
    ]
  CompilationDatabase: .
  Compiler: gcc
Index:
  Background: Build
  StandardLibrary: true
Completion:
  AllScopes: true
InlayHints:
  BlockEnd: true
  Designators: true
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  TypeNameLimit: 24
Hover:
  ShowAKA: true
---
If:
  PathMatch: .*\.h
CompileFlags:
  Add:
    [
      -D_FORTIFY_SOURCE=2,
      -D_GNU_SOURCE,
      -I.,
      -I../../include,
      -I../include,
      -I/usr/include/jeff,
      -I/usr/local/include,
      -Iinclude,
      -Wall,
      -Wextra,
      -Wno-implicit-fallthrough,
      -Wno-unused,
      -faddress=sanitize,
      -pipe,
      -pthread,
      -std=gnu17,
      -xc-header,
    ]
  CompilationDatabase: .
  Compiler: gcc
Index:
  Background: Build
  StandardLibrary: true
Completion:
  AllScopes: true
InlayHints:
  BlockEnd: true
  Designators: true
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  TypeNameLimit: 24
Hover:
  ShowAKA: true
---
If:
  PathMatch: [.*\.cc, .*\.cpp, .*\.c\+\+, .*\.C, .*\.cxx]
CompileFlags:
  Add:
    [
      -D_FORTIFY_SOURCE=2,
      -D_GLIBCXX_ASSERTIONS,
      -D_GNU_SOURCE,
      -I.,
      -I../../include,
      -I../include,
      -I/usr/include/jeff,
      -I/usr/local/include,
      -Iinclude,
      -Wall,
      -Wextra,
      -Wno-implicit-fallthrough,
      -Wno-unused,
      -faddress=sanitize,
      -pipe,
      -pthread,
      -std=gnu++17,
      -xc++,
    ]
  CompilationDatabase: .
  Compiler: g++
Index:
  Background: Build
  StandardLibrary: true
Completion:
  AllScopes: true
InlayHints:
  BlockEnd: true
  Designators: true
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  TypeNameLimit: 18
Hover:
  ShowAKA: true
---
If:
  PathMatch: [.*\.hh, .*\.hpp, .*\.h\+\+, .*\.H, .*\.hxx]
CompileFlags:
  Add:
    [
      -D_FORTIFY_SOURCE=2,
      -D_GLIBCXX_ASSERTIONS,
      -D_GNU_SOURCE,
      -I.,
      -I../../include,
      -I../include,
      -I/usr/include/jeff,
      -I/usr/local/include,
      -Iinclude,
      -Wall,
      -Wextra,
      -Wno-implicit-fallthrough,
      -Wno-unused,
      -faddress=sanitize,
      -pipe,
      -pthread,
      -std=gnu++17,
      -xc++-header,
    ]
  CompilationDatabase: .
  Compiler: g++
Index:
  Background: Build
  StandardLibrary: true
Completion:
  AllScopes: true
InlayHints:
  BlockEnd: true
  Designators: true
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  TypeNameLimit: 18
Hover:
  ShowAKA: true
