# Repo dirs and special files
compile_commands.json
/assembly
/assets
/bin
/build
/lib
/obj
/preproc
/assets/*
/assembly/*
/bin/*
/build/*
/lib/*
/obj/*
/preproc/*

# Binary files
*.S
*.a
*.dll
*.i
*.o
*.obj
*.out
*.s
*.so

# Compressed files
*.7z
*.Z
*.bz2
*.cpio
*.gz
*.lz
*.lz4
*.tar
*.tbz2
*.tgz
*.txz
*.xz
*.zip
*.zst

# Env management
.envrc

# Misc filetypes
*.aux
*.bak
*.list
*.log
*.new
*.old

# VCS files
*.diff
*.patch
