# Repo dirs and special files
compile_commands.json
/assets
/bin
/build
/lib
/obj
/assets/*
/bin/*
/build/*
/lib/*
/obj/*

# Binary files
*.S
*.a
*.dll
*.i
*.o
*.obj
*.s
*.so
*.out

# Compressed files
*.7z
*.Z
*.bz2
*.cpio
*.gz
*.lz
*.lz4
*.tar
*.tbz2
*.tgz
*.txz
*.xz
*.zip
*.zst

# Env management
.envrc

# Misc filetypes
*.log
*.aux
*.bak
*.old
*.new
*.list

# VCS files
*.diff
*.patch
